<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayoutAlign="start" style="margin: 80px">
    <button mat-button color="primary" routerLink="/">
      <mat-icon>arrow_back</mat-icon>
      Regresar
    </button>
  </div>

  <div fxLayoutAlign="center center">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Liliana Rosas Rosas </mat-card-title>
        <mat-card-subtitle>Developer Front-end</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content
        fxLayoutAlign="center "
        fxLayout="column"
        fxLayoutGap="10px"
      >
        <div class="container" fxLayout="row" fxLayoutGap="10px">
          <div>
            <mat-label>
              Developer web. con amplia experiencia en el desarrollo front-end
              con el objetivo de construir una carrera en el ámbito de
              eCommerce, marketing digital y afines, aportando activamente ideas
              con alto valor agregado para los proyectos futuros de la compañía.
            </mat-label>
          </div>
        </div>

        <div class="container" fxLayout="row" fxLayoutGap="10px">
          <div class="image-container">
            <img src="assets/img/email.png" style="width: 50px; height: 50px" />
          </div>
          <div fxLayout="column">
            <mat-label>correo</mat-label>
            <mat-label>molilispr4@gmail.com</mat-label>
          </div>
        </div>

        <div class="container" fxLayout="row" fxLayoutGap="10px">
          <div class="image-container">
            <img
              src="assets/img/phone-call.png"
              style="width: 50px; height: 50px"
            />
          </div>
          <div fxLayout="column">
            <mat-label>Tel</mat-label>
            <mat-label>2722158669</mat-label>
          </div>
        </div>

        <div class="container" fxLayout="row" fxLayoutGap="10px">
          <div class="image-container">
            <img
              src="assets/img/linkedin.png"
              style="width: 50px; height: 50px"
            />
          </div>
          <div fxLayout="column">
            <mat-label>Linkedin</mat-label>
            <a href="https://www.linkedin.com/in/liliana-rosas-rosas-25a0341a6/"
              >liliana-rosas-rosas!</a
            >
          </div>
        </div>

        <div class="container" fxLayout="row" fxLayoutGap="10px">
          <div class="image-container">
            <img
              src="assets/img/facebook.png"
              style="width: 50px; height: 50px"
            />
          </div>
          <div fxLayout="column">
            <mat-label>Facebook</mat-label>
            <a href="https://www.facebook.com/liliam.rosasrojas"
              >Liliana Rosas Rosas!</a
            >
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
