.card {
  max-width: 400px;
  background-color: rgb(61, 212, 212, 0.8);
}

.example-header-image {
  background-image: url("../../../../../assets/img//image.png");
  background-size: cover;
}

.container {
  background-color: white;
  padding: 15px;
}
.image-container {
  width: 80px;
}
